.member-card:hover {
  transform: scale(1.05); /* Adjust the scaling factor as needed */
  transition: transform 0.3s ease-in-out;
}

.member-card-body {
  transition: background-color 0.3s ease-in-out; /* Add transitions for a smoother effect */
}

.member-card:hover .member-card-body {
  background-color: #f8f9fa; /* Change the background color on hover if needed */
}
