@font-face {
  font-family: "Light"; /*Can be any text*/
  src: local("Montserrat-Regular"),
    url("./Fonts/Montserrat-Regular.ttf") format("truetype");
}

.nav-bg {
  background-color: "#84a3f6";
}
